@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

<p><strong>NOTE:</strong> You need to have at least one Stylist before you can add a Client!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Stylist") to create a stylist.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.ValidationMessageFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)
  @Html.ValidationMessageFor(model => model.Email)

  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)
  @Html.ValidationMessageFor(model => model.Phone)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownListFor(model => model.StylistId, (SelectList)ViewBag.StylistId)
  @Html.ValidationMessageFor(model => model.StylistId)

  <input type="submit" value="Add new client" class="btn btn-primary btn-sm" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>