@{
    Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />

<div class="mb-3">
    <h3>@Html.DisplayNameFor(model => model.Name): <span class="text-primary">@Html.DisplayFor(model => model.Name)</span></h3>
</div>

<div class="mb-3">
    <h3>@Html.DisplayNameFor(model => model.Description): <span class="text-primary">@Html.DisplayFor(model => model.Description)</span></h3>
</div>

<div class="mb-3">
    <h3>@Html.DisplayNameFor(model => model.Stylist): <span class="text-primary">@Html.DisplayFor(model => model.Stylist.Name)</span></h3>
</div>

<div class="mb-3">
    <h3>@Html.DisplayNameFor(model => model.Email): <span class="text-primary">@Html.DisplayFor(model => model.Email)</span></h3>
</div>

<div class="mb-3">
    <h3>@Html.DisplayNameFor(model => model.Phone): <span class="text-primary">@Html.DisplayFor(model => model.Phone)</span></h3>
</div>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId }, new { @class = "btn btn-primary btn-sm" })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId }, new { @class = "btn btn-danger btn-sm" })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>

